.error{
    position: relative;
    background-color: var(--container-color);
    text-align: center;
    border-radius: 1rem 1rem 0 0;
    transition: all 0.3s;
}
img{
    width: 20rem;
}
.info{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-bottom: 3rem;
}
.notfound-404{
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
    margin: 0px;
    color: #f8863b;
}
.notfound-404>h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.info > a{
    font-size: 14px;
    text-decoration: underline;
}