.card {
  display:block;
  width: 230px;;
  border-radius: 10px;
  padding: 16px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.4s;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.card:hover {
  transform: scale(1.05);
}

.cover {
  position: relative;
  margin-bottom: 18px;
}

.cover img {
  display: block;
  width: 100%;
  max-height: 250px;
  min-height: 250px;
  border-radius: 4px;
}

.card-content {
  font-family: "Montserrat", sans-serif;
  color: #b9b9b9;
  margin-bottom: 22px;
}

.card-content h4 {
  margin-bottom: 16px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 28px;
  font-size: 14px;
  color: hsl(0, 0%, 70%);
}

.card-button {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  background: linear-gradient(130deg, #ff5443 0%, #ff8f4e 100%);
  border: 0px;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
  
}

.card-button:hover {
  background: linear-gradient(130deg, #ff8f4e 0%, #ff5443 100%);
}