.label {
    background-color: #424242;
    display: flex;
    height: 17px; /*23*/
    width: 33px; /*44*/
    border-radius: 30px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    transform: scale(1.5);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.ball {
    height: 13px;
    width: 13px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: left .2s linear;
}

.checkbox:checked+.label .ball {
    /*transform: translateX(24px);*/
    left: 18px;
}

.fa-moon {
    
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}